<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
  </head>
  <body>
    <div id="page"><span id="client"></span><span> <%= name %></span></div>
    <script src="/static/socket.io.js"></script>
    <script>
        let socket = io('http://localhost:5000/ws');

        socket.emit('server', { hello: 'server' });

        socket.on('client', function (data) {
            console.log(data);
            document.getElementById('client').innerText = 'hello ' + data.hello;
        });
    </script>
  </body>
</html>
